*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgba(236, 242, 248, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: grid;
  grid-template-columns: auto;
  margin-top: 140px;
  gap: 24px;
  height: 100vh;
}
.text-div{
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  width: 100%;
}
.name-img-div{
  display: flex;
  flex-direction: row;
  gap: 17px;
  padding-top: 25px;
  padding-bottom: 18px;
}
.text-div h1{
  color: #FFF;
  font-family: Barlow Semi Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 40px;
  padding-right: 32px;
}
.information{
  color: #CFCFCF;
  font-family: Barlow Semi Condensed;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
  padding-right: 32px;
  margin-bottom: 33px;
}
.first1{
  border-radius: 8px;
  background: #733FC8;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  background-image:  url(./img/“.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  
  
}
.name-div{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.name{
  color: #FFF;
  font-family: Barlow Semi Condensed;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 100% */
}
.Verified{
  color: #FFF;
  font-family: Barlow Semi Condensed;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px; /* 100% */
  opacity: 0.5;
}
.text2{
  border-radius: 8px;
  background: #48556A;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}
.text3{
  border-radius: 8px;
  background: #FFF;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}
.name3{
  color: #48556A;
  font-family: Barlow Semi Condensed;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 100% */
}
.Verified3{
  color: #48556A;
  font-family: Barlow Semi Condensed;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px; /* 100% */
  opacity: 0.5;
}
#h1-3{
  color: #48556A;
font-family: Barlow Semi Condensed;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 20px;
}
.information3{
  color: #48556A;
  font-family: Barlow Semi Condensed;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
  padding-bottom: 10px;
}
#h1-4{
  color: #ECF2F8;
  font-family: Barlow Semi Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 20px;
}
.text4{
  border-radius: 8px;
  background: #19202D;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}
.text5{
  border-radius: 8px;
  background: #FFF;  
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  margin-bottom: 40px;
}
@media(width>1023px){
  .container{
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin-top: 0px;
  }
  .first1{
    display: grid;
    grid-column: span 2;
  }
  .text4{
    display: grid;
    grid-column: span 2;

  }
   .text5{
    display: grid;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row: 1/3 ;
    margin-bottom: 0px;
  }
  .text-div{
    display: grid;
    width: 100%;
  }
  .name-div{
    margin-top: 20px;
  }
  .last-photo{
    width: 48px;
    height: 48px;
  }
  .name-img-div5{
    display: flex;
    flex-direction: row;
    gap: 17px;
    padding-top: 25px;
    padding-bottom: 18px;
    height: 20px;
  }
  #h1-5{
    color: #48556A;
    font-family: Barlow Semi Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 0px;
    margin-top: -5px;
    height: 72px;
  }
  .information5{
    color: #48556A;
    font-family: Barlow Semi Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    width: 250px;
    margin-top: -30px;

  }
 
 
}